<p id="notice"><%= notice %></p>

<h1>Computertypes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computertypes.each do |computertype| %>
      <tr>
        <td><%= computertype.description %></td>
        <td><%= link_to 'Show', computertype %></td>
        <td><%= link_to 'Edit', edit_computertype_path(computertype) %></td>
        <td><%= link_to 'Destroy', computertype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computertype', new_computertype_path %>
